@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #19191d;
}

h1,h2,h3, p{
    color: #fff;
    margin: 0;
}

a{
 color: none;   
 text-decoration: none;
}

.page-name{
    margin-top: 15px;
}

.home, .repors, .products{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.action-buttons{
    display: flex;
    justify-content: center;
}

input[type="text"],
input[type="number"]
{
    font-weight: bold!important;
    color: #fff;
}

/* TABLE */
.custom-table {
    min-width: 900px;
}

.custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
    color: #fff;
}

.custom-table tbody th, .custom-table tbody td {
    color: #fff;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 20px;
}

.custom-table tbody th small, .custom-table tbody td small {
    color: #b3b3b3;
    font-weight: 300;
}


.custom-table tbody tr th, .custom-table tbody tr td {
    background: #25252b;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.custom-table tbody tr th a, .custom-table tbody tr td a {
    color: #b3b3b3;
}

.custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.custom-table tbody tr.spacer td {
    padding: 0 !important;
    height: 3px;
    border-radius: 0 !important;
    background: transparent !important;
}

.custom-table tbody tr.active th, .custom-table tbody tr.active td, .custom-table tbody tr:hover th, .custom-table tbody tr:hover td {
    color: #fff;
    background: #2e2e36;
}

.custom-table tbody tr.active th a, .custom-table tbody tr.active td a, .custom-table tbody tr:hover th a, .custom-table tbody tr:hover td a {
    color: #fff;
}


.table-buttons{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    cursor: pointer;
    align-items: center;
}

.table-buttons .trash-icon{
   color: red;
}

.table-buttons .pencil-icon{
    color: green;
}