@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #19191d;
}

h1,h2,h3{
    color: #fff;
}

a{
 color: none;   
 text-decoration: none;
}

.page-name{
    margin-top: 15px;
}

.home, .repors, .products{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.action-buttons{
    display: flex;
    justify-content: center;
}

input[type="text"],
input[type="number"]
{
    font-weight: bold!important;
    color: #fff;
}