@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #19191d;
}

h1,h2,h3, p{
    color: #fff;
    margin: 0;
}

a{
 color: none;   
 text-decoration: none;
}

.page-name{
    margin-top: 15px;
}

.home, .repors, .products{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.action-buttons{
    display: flex;
    justify-content: center;
}

input[type="text"],
input[type="number"]
{
    font-weight: bold!important;
    color: #fff;
}

/***** CUSTOM TABLES ****/


.custom-table {
    min-width: 900px;
}

.custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
    color: #fff;
}

.custom-table tbody th, .custom-table tbody td {
    color: #fff;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 20px;
}

.custom-table tbody th small, .custom-table tbody td small {
    color: #b3b3b3;
    font-weight: 300;
}


.custom-table tbody tr th, .custom-table tbody tr td {
    background: #25252b;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.custom-table tbody tr th a, .custom-table tbody tr td a {
    color: #b3b3b3;
}

.custom-table tbody tr th:first-child, .custom-table tbody tr td:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.custom-table tbody tr th:last-child, .custom-table tbody tr td:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.custom-table tbody tr.spacer td {
    padding: 0 !important;
    height: 3px;
    border-radius: 0 !important;
    background: transparent !important;
}

.custom-table tbody tr.active th, .custom-table tbody tr.active td, .custom-table tbody tr:hover th, .custom-table tbody tr:hover td {
    color: #fff;
    background: #2e2e36;
}

.custom-table tbody tr.active th a, .custom-table tbody tr.active td a, .custom-table tbody tr:hover th a, .custom-table tbody tr:hover td a {
    color: #fff;
}


.table-buttons{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    cursor: pointer;
    align-items: center;
}

.table-buttons .trash-icon{
   color: red;
}

.table-buttons .pencil-icon{
    color: green;
}


/**** CUSTOM FORMS ****/

.form-block {
    margin: 30px auto;
    min-height: 50vh
}

.form-block .auth-box {
    margin: 20px auto 0;
    max-width: 850px !important
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--bs-gray-dark)
}

.card .card-block {
    padding: 1.25rem
}

.f-80 {
    font-size: 80px
}

.form-group {
    margin-bottom: 1.25em
}

.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.heading {
    font-size: 21px
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}